<h1>Novo paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%= button_to "Voltar para pacientes", pacientes_path, method: :get, class: "btn btn-secondary" %>
  <%= button_to "Voltar para a página inicial", root_path, method: :get, class: "btn btn-secondary" %>

</div>
