<h1>Editar Médico</h1>

<%= render "form", medico: @medico %>

<br>

<div>
  <%= button_to "Mostrar este Médico", medico_path(@medico), method: :get, class: "btn btn-primary" %> |
  <%= button_to "Voltar para Médicos", medicos_path, method: :get, class: "btn btn-secondary" %>
  <%= button_to "Voltar para a página inicial", root_path, method: :get, class: "btn btn-secondary" %>

</div>
